.form{
    margin-top:50px;
    margin-left: 300px;
    padding:20px;
    width: 60%;
}

.form button {
    margin-top: 40px;
    width: 140px;
    height: 40px;
    border: none;
    background-color: #2C74B3;
    color: whitesmoke;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
  }